<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>LotteryController</servlet-name>
        <servlet-class>com.systex.hw3.lottery.LotteryController</servlet-class>
    </servlet>    
    <servlet>
	    <servlet-name>GameController</servlet-name>
	    <servlet-class>com.systex.hw3.game.GameController</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>LotteryController</servlet-name>
        <url-pattern>/lottery/lotteryController.do</url-pattern>
    </servlet-mapping> 	
	<servlet-mapping>
	    <servlet-name>GameController</servlet-name>
	    <url-pattern>/game/gameController.do</url-pattern>
	</servlet-mapping>
</web-app>